<?php
/**@var PartViewer $partViewer */
/**@var PlatformSocialApp $app */


$admin = $app->getAppAdmin();

?>
<?php $partViewer->view('layouts/header'); ?>
<?php $partViewer->view('menu/up_menu'); ?>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Администратор приложения</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> Имя в социальной сети : <?php echo $admin->getName(); ?></p>
                <p> ID : <?php echo $admin->getId(); ?></p>
                <p> ID в социальной сети: <?php echo $admin->getSocialAdminId(); ?></p>
                <p> Ключ доступа:
                <pre><?php echo $admin->getAppAccessToken(); ?></pre>
                </p>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="row">
        <?php if (!empty($pages)): ?>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Страницы
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <pre>Добавьте необходимые страницы!!!</pre>
                    <div class="table table-responsive">
                        <table id="social-page" class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Тип страницы</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php $data = json_decode($pages); ?>
                            <?php $idsPages = []; ?>
                            <?php foreach ($data->data as $k => $v): ?>
                                <?php
                                if (is_null($admin->getPageBySocialId($v->id))) {
                                    $disable = '';
                                } else {
                                    $idsPages[] = $v->id;
                                    $disable = 'disabled';
                                }
                                ?>
                                <tr>
                                    <td data-name='pageId'><?php echo $v->id; ?></td>
                                    <td data-name="accessToken" hidden><?php echo $v->access_token; ?></td>
                                    <td data-name="name"><?php echo $v->name; ?></td>
                                    <td data-name="category"><?php echo $v->category; ?></td>
                                    <td data-name="permissions" hidden><?php echo json_encode($v->perms); ?></td>
                                    <td data-name="button">
                                        <button class="btn btn-primary" <?php echo $disable; ?>>
                                            Добавить
                                        </button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        <?php endif; ?>
        <?php if (!empty($groups)): ?>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Группы
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <pre>Добавьте необходимые группы!!!</pre>
                    <div class="table table-responsive">
                        <table id="social-group" class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Конфиденциальность</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php $data = json_decode($groups); ?>
                            <?php $idsGroups = []; ?>
                            <?php foreach ($data->data as $k => $v): ?>
                                <?php

                                if (is_null($admin->getGroupBySocialId($v->id))) {
                                    $disable = '';
                                } else {
                                    $idsPages[] = $v->id;
                                    $disable = 'disabled';
                                }
                                ?>
                                <tr>
                                    <td data-name="groupId"><?php echo $v->id; ?></td>
                                    <td data-name="name"><?php echo $v->name; ?></td>
                                    <td data-name="privacy"><?php echo $v->privacy; ?></td>
                                    <td data-name="button">
                                        <button class="btn btn-primary" <?php echo  $disable?>>Добавить</button>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        <?php endif; ?>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <a  href="<?php echo Project::getBaseUrl().'social/app/'?>" class="btn btn-primary">
            <i class="fa fa-th-list"> К списку</i>
        </a>
    </div>
</div>
<?php $partViewer->view('layouts/footer'); ?>
