<!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#">
                    <i class="fa fa-users fa-fw"></i> Пользователи
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Авторы и пользователи</a>
                    </li>
                    <li>
                        <a href="/admins/add/">Добавить пользователя</a>
                    </li>
                    <li>
                        <a href="#">Роли пользователей</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bars fa-fw"></i> Статьи<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/articles">Список</a>
                    </li>
                    <li>
                        <a href="/articles/editor">Добавить</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-globe"></i> Новости<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/news">Список</a>
                    </li>
                    <li>
                        <a href="/news/editor">Добавить</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Рубрики<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/rubrics/">Список</a>
                    </li>
                    <li>
                        <a href="/rubrics/editor">Добавить</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-file-picture-o  fa-fw"></i> Мультимедия<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/multimedia/image">Загрузить изображение</a>
                    </li>
                    <li>
                        <a href="/multimedia/images">Каталог изображений</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-arrow-up"></i> Социальные сети<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/social/app">Приложения</a>
                    <li>
                    <li>
                        <a href="/social/flow">Потоки</a>
                    </li>
                    <li>
                        <a href="/social/history">Сылки</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/managing/transition"><i class="fa fa-android"></i> Управление ZENO</span></a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->

