<div class="panel panel-default" id="queue">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Опубликовать сылку.</h1></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <p>
                        GET
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>description</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>link</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>imgUrl</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        POST
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>secretKey</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>accessToken</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/link?description=text
                description&link=urlencode(url material)&imgUrl=urlencode(img http link)
            </p>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                            <pre>
                                <code class="json">
{
    "success":true,
    "message":"Added to queue",
    "action":"link"
}
                                </code>
                            </pre>
                            <pre>
                                <code>
{
    "success": false,
    "errorCode": 201,
    "error": "link exists"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>