<div class="panel panel-default" id="uploadVideo">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Опубликовать видео в социальной сети</h1></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <p>
                        GET
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>type</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>id</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>title</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>description</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>publishedAt</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        FILE
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>file *mp4 не больше 1ГБ</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        POST
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>secretKey</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>accessToken</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/uploadVideo?
                title=title&description=description&publishedAt=2016-10-20%2016:56&id=143&type=page&
            </p>
            <div class="well">
                ------WebKitFormBoundaryfWdnAks4eWT3JDT5
                Content-Disposition: form-data; name="file"; filename="video_file.mp4"
                Content-Type: video/mp4
            </div>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                            <pre>
                                <code class="json">
{
    "success":"boolean(true)",
    "action":"uploadVideoFile"
}
                                </code>
                            </pre>
                            <pre>
                                <code>
{
    "title":"char(error)",
    "description":"char(error)",
    "file":"char(error)",
    "success":"boolean(false)",
    "errorCode":"integer (error code)",
    "action":"uploadVideoFile"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>